SECRET_KEY='django-insecure-%os!8iuej$*poghn_%l*m+2*a)*h7s$^h(v+1qct_*stm@%%fg'
DEBUG_DEV=True
DEBUG_PROD=False
ALLOWED_HOSTS='*'
DB_NAME='drf_etl'
DB_USER='postgres'
DB_PASSWORD='postgres'
DB_HOST='localhost'
DB_PORT='5432'